@import 'nib'
@import 'colors'

@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=6e209251-022a-4233-966f-bbe10cb47dda");
@font-face{
font-family:"PMNCaeciliaW01-55Roman";
src:url("../fonts/e9938f19-f9be-4b47-9f5a-c3441c7b84a2.eot?#iefix");
src:url("../fonts/e9938f19-f9be-4b47-9f5a-c3441c7b84a2.eot?#iefix") format("eot"),url("../fonts/57d0d8b3-dd92-4639-bc73-f54734f54f3d.woff") format("woff"),url("../fonts/e8f97b23-e117-4d0a-abc8-4a6112d9794f.ttf") format("truetype"),url("../fonts/f97046a6-1405-40e5-80e8-282eccce10b8.svg#f97046a6-1405-40e5-80e8-282eccce10b8") format("svg");
}
@font-face{
font-family:"Museo Sans W01 500";
src:url("../fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix");
src:url("../fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix") format("eot"),url("../fonts/d42dd843-62b0-4623-8855-d5882512c3c9.woff") format("woff"),url("../fonts/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf") format("truetype"),url("../fonts/f56b7407-f97b-4cb3-9ce6-4e13065eec93.svg#f56b7407-f97b-4cb3-9ce6-4e13065eec93") format("svg");
}

@font-face
  font-family codemash
  font-style normal
  src url(../fonts/codemash.eot)
  src url(../fonts/codemash.eot?#iefix) format(embedded-opentype)
  src url(../fonts/codemash.svg#codemash) format(svg)
  src url(../fonts/codemash.woff) format(woff)
  src url(../fonts/codemash.ttf) format(truetype)
  font-weight normal
  font-style normal

[data-icon]:before
  font-family codemash
  content attr(data-icon)
  speak none
  font-weight normal
  line-height 1
  -webkit-font-smoothing antialiased

body
  background-color #ededed

// ---------------------
// Speakers
// ---------------------

.speaker-avatar
  padding-right 40px

.speaker-avatar-small
  height 30px
  width 30px

.speaker-avatar-medium
  height 100px
  width 100px

.speaker-name
  margin-left 40px

.speaker-name-small
  vertical-align bottom

.speaker-twitter
  vertical-align bottom

// ---------------------
// Nav
// ---------------------

.nav
  display block
  width 100%
  padding-bottom 1em
  @media (min-width: 330px)
    width 21em
    margin 0 auto
  @media (min-width: 500px)
    width 35em
  @media (min-width: 659px)
    width 35em
    margin 0
    margin-left 2.3em
  @media (min-width:960px)
    margin-left 0.8em

.span-12 .nav-pills > li
  float none
  width 10em
  margin 0 auto

.navbar
  width 100%
  display block
  padding-bottom 1em
  background-color #bfbfbf

.navbar .nav
  width: 202px
  margin: 0 auto
  float none
  @media (min-width:659px)
    float right

.navbar .nav > li > a
  padding-top 0
  text-shadow none
  color black
  font-size 1.1em
  @media (min-width: 659px)
    margin-top 30px
  [data-icon]:before
    color white

.nav > li > a:hover
  background-color primaryOrange
  color white

.my-mashboard-button.active
  margin-top 20px !important
  color white !important

.nav > li > a.active
  background-color primaryOrange
  border-radius 5px
  padding-top 10px
  color white
    .badge
      background-color white
      color black

.nav > li > a.active:hover
  background-color primaryOrange

.navbar-inner
  border none
  border-radius none
  box-shadow none
  background-color transparent
  background-image none
  padding-top .5em

// ---------------------
// Sessions
// ---------------------

.session-title
  overflow hidden

.session-buttons
  top 50px
  position relative
  text-align center
  @media (max-width: 767px)
    top 0
    margin-top 20px
    .btn
      display block
      padding 10px

.day-label
  font-family:"Museo Sans W01 500",sans-serif

.day-link
  color:#4d4d4d

// ---------------------
// Layout
// ---------------------

.container
  @media (max-width: 979px) and (min-width: 768px)
    width 100%
  @media (min-width: 940px)
    width 100%
  @media (min-width: 1200px)
    width 100%

body
  @media (max-width: 767px)
    padding 0

.long-day
  display none
  @media (min-width: 500px)
    display block

.short-day
  @media (min-width: 500px)
    display none

.nav-pills > li
  font-family:"Museo Sans W01 500",sans-serif
  text-transform uppercase
  letter-spacing 2px
  float none
  text-align center
  @media (min-width: 300px)
    float left
    text-align left
    padding-right: 15px;

// ---------------------
// Theme
// ---------------------

.navbar .brand
  float none
  text-indent -999em
  background-image url(../images/logo.png)
  background-repeat no-repeat
  display block
  height 36px
  width 200px
  margin 0 auto
  margin-top 20px
  @media (min-width:659px)
    margin: 0
    margin-top 20px
    margin-left 1em
    float left
  @media (-webkit-min-device-pixel-ratio: 1.5)
    background-image url(../images/logo-2x.png)
    background-size 100%

.session-detail
  background-color white

.well
  background-color white
  @media (min-width: 960px)
    padding-left 25px

h1, h2, h3, h4, h5, h6
  font-family:"PMNCaeciliaW01-55Roman", serif

.alert
  background-color rgb(191, 191, 191);
  font-family:"Museo Sans W01 500",sans-serif
  text-transform uppercase
  border none
  border-radius 0
  text-align center
  color black
  font-size 15px
  margin 0
  margin-bottom 5px
  letter-spacing 1px
  padding-top 15px
  @media (min-width: 659px)
    text-align left
    padding-left: 43px;
  @media (min-width: 960px)
    padding-left 21px
    border-radius 4px

.btn-primary
  font-family:"Museo Sans W01 500",sans-serif
  text-transform uppercase
  letter-spacing 1px
  padding-top 10px
  padding-bottom  10px
  background-color primaryOrange
  background-image none

.btn
  padding-bottom 10px
  padding-top 10px
  font-family:"Museo Sans W01 500",sans-serif
  text-transform uppercase
  letter-spacing 1px

.btn:hover
  background-color primaryOrange
  -webkit-transition none
  background-image none
  color white
  text-shadow none

.session-title
  color black
  &:hover
    color primaryOrange
  &:visited
    color black

.session-title h3
  font-weight 500

.session-detail .label
  text-shadow none
  font-family:"Museo Sans W01 500",sans-serif
  text-transform uppercase
  color black
  font-weight 300
  padding 8px
  padding-top 9px
  padding-left 12px
  padding-right 12px
  background-color #f0f0f0
  margin-top 5px

.session-detail h3
  line-height 1.3

.speaker-name-small
  margin-left 5px
  vertical-align middle

.session-info-table
  margin-top 10px
  margin-bottom 10px

.session-detail
  font-family:"PMNCaeciliaW01-55Roman", serif

.speaker-name-small
  font-family:"PMNCaeciliaW01-55Roman", serif
  font-size 18px

.speaker-profile-thumbnail, .more-session-info, .hide-session-info
  color primaryOrange
  &:visited
    color primaryOrange
  &:hover
    text-decoration none

.session-abstract
  line-height 1.6

.span8
  @media (min-width:659px)
    padding-left: 23px;
  @media (min-width:960px)
    padding-left 0px

.row-fluid-second
  @media (min-width:960px)
    width 960px
    margin 0 auto

.navbar-inner
  @media (min-width:960px)
    width 960px
    margin 0 auto
.row-fluid-first
  @media (min-width:960px)
    width: 960px;
    margin: 0 auto;

.speaker-detail
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  line-height: 1.6;
  font-family:"PMNCaeciliaW01-55Roman", serif

.speaker-avatar-medium
  margin-right 20px
  margin-bottom 20px

.speaker-name
  margin-bottom 0
  margin-top 18px
  font-size: 30px
  @media (min-width: 659px)
    font-size 2.5em

.twitter-user-name
  color primaryOrange
  font-size 18px
  &:visited
    color primaryOrange

.speaker-nav
  margin 0
  padding 0
  li
    list-style none
    display block
    margin-top 10px
    a
      display block

.speaker-bio
  @media (min-width: 960px)
    width 75%

.session-link
  color primaryOrange
  &:hover
    color primaryOrange
    text-decoration none

.undo-mashboard
  color primaryOrange
  &:visited
    color primaryOrange

footer
  text-align center
  padding-bottom 10px

.footer-text
  text-align center
  color black
  font-family:"Museo Sans W01 500",sans-serif
  text-transform uppercase
  letter-spacing 1px
  margin-bottom 10px
  margin-top 10px

.footer-link
  color black
  &:visited
    color black
  &:hover
    color black
  text-decoration underline

.sparkbox-icon
  font-size 3em
  padding 10px 0 10px 0
