@import 'nib'
@import 'colors'

.speaker-avatar
  padding-right 40px

.speaker-avatar-small
  height 30px
  width 30px

.speaker-avatar-medium
  height 100px
  width 100px

.speaker-name
  margin-left 40px

.speaker-name-small
  vertical-align bottom

.speaker-twitter
  vertical-align bottom
