@import 'nib'
@import 'colors'

@font-face
  font-family codemash
  font-style normal
  src url(../fonts/codemash.eot)
  src url(../fonts/codemash.eot?#iefix) format(embedded-opentype)
  src url(../fonts/codemash.svg#codemash) format(svg)
  src url(../fonts/codemash.woff) format(woff)
  src url(../fonts/codemash.ttf) format(truetype)
  font-weight normal
  font-style normal

[data-icon]:before
  font-family codemash
  content attr(data-icon)
  speak none
  font-weight normal
  line-height 1
  -webkit-font-smoothing antialiased

// ---------------------
// Speakers
// ---------------------

.speaker-avatar
  padding-right 40px

.speaker-avatar-small
  height 30px
  width 30px

.speaker-avatar-medium
  height 100px
  width 100px

.speaker-name
  margin-left 40px

.speaker-name-small
  vertical-align bottom

.speaker-twitter
  vertical-align bottom

// ---------------------
// Nav
// ---------------------

.navbar
  width 100%
  display block
  background-color #454545


.navbar-inner
  border none
  border-radius none
  box-shadow none
  background-color transparent

// ---------------------
// Sessions
// ---------------------

.session-buttons
  top 100px
  position relative
  text-align center
  @media (max-width: 767px)
    top 0
    margin-top 20px
    .btn
      display block
      padding 10px

.day-label
  font-family: "museo-sans", sans-serif

.day-link
  color:#4d4d4d

// ---------------------
// Layout
// ---------------------

.container
  @media (max-width: 979px) and (min-width: 768px)
    width 100%
  @media (min-width: 940px)
    width 100%
  @media (min-width: 1200px)
    width 100%

body
  @media (max-width: 767px)
    padding 0
