<div class="container">
  <div class="navbar clearfix">
    <div class="navbar-inner">
      <a class="brand" href="#">Mashboard</a>
      <ul class="nav">
        <li>
          {{#linkTo "my_mashboard" class="my-mashboard-button"}}
            <span aria-hidden="true" data-icon="&#xe000;"></span>
            <span class="screen-reader-text">My Mashboard</span>
            <span class="badge">
              {{App.savedSessions.sessions.length}}
            </span>
          {{/linkTo}}
        </li>
      </ul>
    </div>
  </div>

  {{outlet}}

  <footer>
  </footer>
</div>
