<div class="container">
  <div class="navbar clearfix">
    <div class="navbar-inner">
      {{#linkTo index class="brand"}}
        Mashboard
      {{/linkTo}}
      <ul class="nav">
        <li>
          {{#linkTo my_mashboard class="my-mashboard-button"}}
            <span aria-hidden="true" data-icon="&#xe000;"></span>
            <span class="screen-reader-text">My Mashboard</span>
            <span class="badge">
              {{App.savedSessions.sessions.length}}
            </span>
          {{/linkTo}}
        </li>
      </ul>
    </div>
  </div>

  <section class="row-fluid row-fluid-first">
    <div class="span12">
      <ul class="nav nav-pills">
      {{#each days}}
        {{view App.DayListItemView contentBinding="this" tagName="li" classNames="day-label"}}
      {{/each}}
      </ul>
    </div>
  </section>

  {{outlet}}

  <footer>
  <span class="sparkbox-icon" aria-hidden="true" data-icon="&#xe001;"></span>
  <p class="footer-text">Powered by <a href="http://seesparkbox.com/" class="footer-link">Sparkbox</a></p>
  <p class="footer-text">Created for Codemash 2013</p>
  </footer>
</div>
