<section class="sessions">
  <span>
    <div class="alert alert-info clearfix">
      <span class="pull-right">
        Showing <strong>{{sessions.length}}</strong> {{view.sessionsText}}
      </span>
    </div>
  </span>
  {{#each sessions}}
    {{view App.SessionView}}
  {{/each}}
</section>
<footer>
</footer>
