{{#each hours}}
  <div class="hour">
    <div class="alert">
      <strong>
        {{sessions.length}} {{pluralize sessions lowerCase=true}} starting at
        {{shortTimeLabel}}
    </strong>
    </div>
  </div>
  {{view App.SessionsView}}
{{/each}}
