{{#linkTo "day" this classNames="day-link"}}
  <span class="short-day">{{shortWeekDayLabel}} ({{sessions.length}})</span>
  <span class="long-day">{{weekDayLabel}} ({{sessions.length}})</span>
{{/linkTo}}
