<section class="row-fluid">
  <div class="row">
    <ul class="nav nav-pills nav-stacked">
    {{#each days}}
      {{view App.DayListItemView contentBinding="this" tagName="li"}}
    {{/each}}
    </ul>
  </div>
</section>

<hr/>

<section class="body">
  {{outlet}}
</section>
