<section class="row-fluid row-fluid-first">
  <div class="span12">
    <ul class="nav nav-pills">
    {{#each days}}
      {{view App.DayListItemView contentBinding="this" tagName="li" classNames="day-label"}}
    {{/each}}
    </ul>
  </div>
</section>

<section class="row-fluid row-fluid-second">
  {{outlet}}
</section>
