<section class="row-fluid">
  <div class="span12">
    <ul class="nav nav-pills">
    {{#each days}}
      {{view App.DayListItemView contentBinding="this" tagName="li"}}
    {{/each}}
    </ul>
  </div>
</section>

<hr/>

<section class="row-fluid">
  {{outlet}}
</section>
