<div class="alert alert-info">
  <span class="pull-right">
    {{sessions.length}} Saved {{pluralize sessions}}
  </span>
  <div class="clearfix"></div>
</div>
{{view App.SessionsView undoable=true}}
