{{#if view.isSaved}}
  {{view App.SessionView}}
{{else}}
  <div class="alert alert-warning">
    Removed {{title}} <a href="#" class="undo-mashboard"{{action undoRemoveSession this target="view"}}>undo</a>
  </div>
{{/if}}
