<span {{bindAttr class=":label difficultyLabelClass"}}>{{difficulty}}</span>
{{#if technology}}
  <span class="label label-inverse">{{technology}}</span>
{{/if}}
<span class="label label-info">{{eventType}}</span>
